body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  text-align: center;
}

button {
  background-color: #4bb74b;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  cursor: pointer;

  &:hover {
    background-color: #6ad36a;
  }
}

.color-dark {
  color: #1b486b;
}

.color-light {
  color: #7899ad;
}
